.table-container {
    top: 5rem;
    position: absolute; 
    width: 100%;
    overflow: scroll;
    white-space: nowrap;
    margin-left: 20rem;
}

.rs-table {
    overflow: scroll !important;
}

.overflow-hidden {
    overflow: scroll !important;
}