.table-container {
    top: 10vh;
    position: absolute; 
    width: 100%;
    overflow: scroll;
    white-space: nowrap; 
}

.rs-table {
    overflow: scroll !important;
}

.overflow-hidden {
    overflow: scroll !important;
}